
{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="">
<h1 class="">Modifier un utilisateur</h1>
    <div class="editer">
    
        {{ form(editUserForm) }}

    </div>
 </div>

{% endblock %}
