{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="V8">
</div>
 

{% if is_granted('ROLE_ADMIN') %}
    <button class="client"><a class="cli" href="">Tous nos clients</a></button>
    <button class="clients"><a class="clie" href=""user</a>Gestion des roles</button>
  {% endif %}
   

{% endblock %}
