{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1 class="user">Liste des utilisateurs</h1>
<div class="liste">
    <table>
        <thead>
            <th>ID</th>
            <th>Email</th>
            <th>Rôles</th>
            <th class="action">Actions</th>
        </thead>
        <tbody>
            {# On boucle sur les utilisateurs #}
            {% for users in users %}
                <tr>
                    <td>{{ users.id }}</td>
                    <td>{{ users.email }}</td>
                    <td>
                        {# On boucle sur les rôles #}
                        {% for role in users.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                    </td>
                   
                    <td><a  class="modi" href="{{ path('edituser', {'id': users.id}) }}">Modifier</a></td>
                    <td><a class="supp" href="{{ path('deleteuser', {'id': users.id}) }}">Supprimer</a></td>
                </tr>
                
            {% else %}
                <p>Aucun utilisateur inscrit</p>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}