<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Navbar Dynamique</title>
<link  rel="stylesheet" href ="css/style.css"/>
<body>
  <nav class="dropdownmenu">
      <ul>
        <li><a href="">Accueil</a></li>
        <li><a href="">Plan transport</a></li>
          <ul id="submenu">
            <li><a href="">services</a></li>
            <li><a href="">diouma</a></li>
            <li><a href="">hatta</a></li>
          </ul>
        <li><a href="">Volume</a></li>
        <li><a href="">Facturation</a></li>
        <li><a href="">Plan transport</a></li>
        <li><a href="">Plan transport</a></li>
      </ul>
  </nav>


</body>

<script>

</script>
</html>
