{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

<div class="V8">
</div>
 

{% if is_granted('ROLE_ADMIN') %}
    <button class=""><a class="" href="">Tous nos clients</a></button>
    <button class=""><a class="" href=""user</a>Gestion des roles</button>
{% endif %}
   <button class="modif" type="button"><a class="modifier" href="">Modifier</a></button>
{% block javascripts %}
  
{% endblock %}


{% endblock %}
