<div class="box">
      <div class="group">
        <div class="overlap-group">
          <p class="terms-condition">Terms &amp; Condition&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Privacy &amp; Policy</p>
          <div class="a-propos-de-nous">A propos de nous<br />Services<br />Contacts</div>
          <p class="calcul-des-couts">
            Calcul des couts<br />Maintenances preventives et curatives<br />HSEQ Transport<br />Distribution
          </p>
          <div class="text-wrapper">SMT</div>
          <div class="div">LIENS UTILES</div>
          <div class="text-wrapper-2">NOS SERVICES</div>
          <p class="p">SYSTEME DE MANAGEMENT DE TRANSPORT</p>
          <p class="CONTACTS">
            <span class="span">CONTACTS<br /></span>
            
            <span class="text-wrapper-4">+ 33751081999</span>
          </p>
          <p class="HORAIRE-DE-TRAVAIL">
            <span class="span">HORAIRE DE TRAVAIL<br /></span>
            <span class="text-wrapper-4">Du Lundi au samedi de 8h à 17h</span>
          </p>
          <p class="ADRESSE-cours">
            <span class="span">ADRESSE<br /></span>
            <span class="text-wrapper-4">62 Cours Balguerie Stuttenberg</span>
          </p>
          <div class="rectangle"></div>
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <p class="copyright-by">
            <span class="text-wrapper-5">© Copyright 2024&nbsp;&nbsp;By&nbsp;&nbsp;</span>
            <span class="text-wrapper-6">SMT </span>
            <span class="text-wrapper-7">,</span>
            <span class="text-wrapper-5"> All right reserved.</span>
          </p>
        </div>
      </div>
    </div>